@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.mask {
    border: 1px solid transparent;
    border-radius: 10px;
    background-image:
            linear-gradient(to bottom, #11314a, #0c2539),
            linear-gradient(to bottom, #477e9e, #224765);
    background-origin: border-box;
    background-clip: content-box, border-box;
    overflow: hidden;
}

.btn-gradient-border {
    position: relative;
    border-radius: 8px;
    padding: 2px; /* controls border thickness */
    background: linear-gradient(
            to right,
            #b58947,
            #a3732f,
            #ffeaa5,
            #cea253,
            #d3b879,
            #f2de9d,
            #ffedab,
            #ead290,
            #b88e4b,
            #a3732f
    );
}

.btn-gold-border {
    padding: 1px;
    border-radius: 4px;
    background: linear-gradient(
            to right,
            #b58947,
            #a3732f,
            #ffeaa5,
            #cea253,
            #d3b879,
            #f2de9d,
            #ffedab,
            #ead290,
            #b88e4b,
            #a3732f
    );
    display: inline-block;
}

.border-mask{

        border: 1px solid transparent;
        border-radius: 10px;
        background-image:
                linear-gradient(to bottom, #11314a, #0c2539),
                linear-gradient(to bottom, #477e9e, #224765);
        background-origin: border-box;
        background-clip: content-box, border-box;
        overflow: hidden;


        clip-path: polygon(
                15% 0%, 85% 0%,
                100% 100%, 0% 100%
        );

}

.Select-Network-Cur {
    width: 316px;
    height: 30px;
    margin: 26px 138px 9px 139px;
    font-family: Roboto;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

.Rectangle-3 {
    width: 337px;
    height: 62px;
    padding: 22px 93px 20px 18px;
    border-radius: 10px;
    border: solid 1px #e8e8e8;
}

.All-payments-secured {
    width: 106px;
    height: 13px;
    font-family: Roboto;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8b8b8b;
}

.Rectangle-2 {
    padding: 13px 15px 12px 14px;
    border-radius: 10px;
    border: solid 1px #e8e8e8;
    background-color: #fafafa;
}

.Rectangle {
    width: 377px;
    height: 340px;
    margin: 20px 108px 56px;
    padding: 24px 37px 27px 38px;
    border-radius: 10px;
    border: solid 1px #e8e8e8;
    background-color: #fafafa;
}